<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-8 offset-lg-1">
      <form>
        <fieldset>
          <legend><h1>User Configuration</h1></legend>
          <div class="row">
            <div class="form-group col-lg-12 ">
              <label for="clientName">Client Name</label>
              <input type="text" class="form-control" id="clientName" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6 ">
              <label for="form">From</label>
              <input type="text" class="form-control" id="form" />
            </div>
            <div class="form-group col-lg-6">
              <label for="to">To</label>
              <input type="text" class="form-control" id="to" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <label for="agentCode">Agent Code</label>
              <input type="text" class="form-control" id="agentCode" />
            </div>
            <div class="form-group col-lg-3 ">
              <label for="employeeCount">Employee Count</label>
              <input type="number" class="form-control" id="employeeCount" />
            </div>
            <div class="form-group col-lg-5">
              <label for="tenant">Tenant</label>
              <input type="text" class="form-control" id="tenant" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="phone">Phone</label>
              <input type="tel" class="form-control" id="phone" />
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary active">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-lg-3 ">
      <div class="bs-component">
        <fieldset>
          <legend>Features</legend>

          <div class="form-group">
            <ol>
              <li>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                    checked=""
                  />
                  <label class="custom-control-label" for="customCheck1"
                    >Check</label
                  >
                </div>
              </li>

              <li>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck2"
                    checked=""
                  />
                  <label class="custom-control-label" for="customCheck2"
                    >Check
                  </label>
                </div>
              </li>

              <li>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck3"
                    checked=""
                  />
                  <label class="custom-control-label" for="customCheck3"
                    >Check
                  </label>
                </div>
              </li>

              <li>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck4"
                    checked=""
                  />
                  <label class="custom-control-label" for="customCheck4"
                    >Check
                  </label>
                </div>
              </li>
            </ol>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
