.gradient {
  background: #dadada;
  background: -moz-linear-gradient(top, #dadada 0%, #f7f5f5 100%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #dadada 0%,
    #f7f5f5 100%,
    #ffffff 100%
  );
  background: linear-gradient(
    to bottom,
    #dadada 0%,
    #f7f5f5 100%,
    #ffffff 100%
  );
}
